<% if user_signed_in? %>
	<%= content_tag :div, nil, class: 'links'  do %>
		<%= link_to 'Follow', [:new, :friendship, id: user],
            class: 'btn btn-light rounded-3' unless current_user.has_friendship_with?(user) %>
		<%= link_to 'Accept', [:friendships, id: user], class: 'btn btn-light rounded-3',
        data: {turbo_method: :post} if current_user.pending_friends_with?(user) %>
		<%= button_to 'Reject', friendship_path(user.id), form: { class: 'button_to btn btn-light rounded-3' },
            method: :delete if current_user.pending_friends_with?(user) %>
		<%= button_to 'Unfollow', friendship_path(user.id), method: :delete,
            form: {data: {turbo_confirm: 'Are you sure?'}, class: 'button_to btn btn-light rounded-3'} if current_user.friends_with?(user) %>
		<% if current_user.requested_friends_with?(user) %>
			<p class="my-0 pending-request"><%= "Pending request #{time_ago_in_words(current_user.follow(user).created_at)} ago" %></p>
		<% end %>
	<% end %>
<% end %>
