<%= turbo_frame_tag dom_id(post) do %>
	<div id="<%= dom_id post %>" class="container mb-3">
		<div class="row">
			<div class="col-sm-12 col-md-8 col-lg-8">
				<div class="post-info position-relative d-flex align-items-center my-1">
					<div class="d-inline-block">
						<p class="mb-0"><%= post.user.full_name %></p>
					</div>
					<div class="d-inline-block">
						<p class="mb-0"><%= post.created_at.strftime("%b %d") %></p>
					</div>
					<div class="d-inline-block">
						<p class="mb-0">Member only</p>
					</div>
					<div class="d-inline-block end-0 position-absolute">
						<%= render 'post_links', post: post %>
					</div>
				</div>
			</div>
		</div>
		<div class="row" >
			<div class="col-sm-12 col-md-8 col-lg-8">
				<div class="blog-title">
					<h3><%= post.title %></h3>
				</div>
				<div class='blog-content'>
					<p class=""><%= post.content.to_plain_text.strip.truncate(200) %></p>
				</div>
			</div>
			<div class="col-sm-12 col-md-4 col-lg-4 h-100">
				<%# @blob = post.content.embeds.first.blob %>
				<% @blob = post.content.body.attachments.first %>
				<div class="d-flex justify-content-center align-items-center">
					<% if @blob %>
						<%= image_tag @blob.representation(resize_to_fill: local_assigns[:in_gallery] ? [150, 150] : [ 150, 125 ]),
                        { class: "d-block rounded-3", alt: "blog-image", } %>
					<% end %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="post-info d-flex align-items-center my-1">
				<div class=" rounded-3 px-3 bg-light">
					<p class="align-items-center mb-0"><%= post.tags.first.name %></p>
				</div>
				<div class="post-srv">
					<p class="mb=0"><%= "#{time_to_read(post)} min read" %></p>
				</div>
				<div class="post-srv">
					<i class="bi bi-dot"></i>
				</div>
				<div class="post-srv">
					<p class="mb-0"><%= "Selected for you"  %></p>
				</div>
			</div>
		</div>
	</div>
	<div class="container"><hr></div>
<% end %>
